.greyscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}

.info-background{
    background-color: #264653 ;
}
.photo-frame:hover img{
    transform: scale(1.5) ;
    transition: transform 5s ease-in-out ;
}